<!--
Author: xmoban.cn
Author URL: http://www.xmoban.cn
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Internship Sign In & Sign Up Form a Responsive Widget Template :: xmoban.cn</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Internship Sign In & Sign Up Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="/stylesheets/snow.css" rel="stylesheet" type="text/css" media="all" />
<link href="/stylesheets/style2.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<!-- //web font -->
</head>
<body>
<div class="snow-container">
			  <div class="snow foreground"></div>
			  <div class="snow foreground layered"></div>
			  <div class="snow middleground"></div>
			  <div class="snow middleground layered"></div>
			  <div class="snow background"></div>
			  <div class="snow background layered"></div>
			</div>

<div class="top-buttons-agileinfo">
<a href="login"  class="active">Sign In</a><a href="reg">Sign Up</a>
</div>
<h1>Internship Sign In & Sign Up Form</h1>
<div class="main-agileits">
<!--form-stars-here-->
		<div class="form-w3-agile">
			<h2 class="sub-agileits-w3layouts">Sign In</h2>
			<form action="/login" method="post">
					<input type="email" name="Eamil" placeholder="Email" required="" />
					<input type="password" name="password" placeholder="Password" required="" pattern="\w{6,12}"/>
					<a href="forgot" class="forgot-w3layouts">Forgot Password ?</a>
				<div class="submit-w3l">
					<input type="submit" value="Sign in">
				</div>
				<p class="p-bottom-w3ls"><a href="reg">Sign Up here</a>if u do not have an account yet.</p>
			</form>
		</div>
		</div>
<!--//form-ends-here-->
<!-- copyright -->
	<div class="copyright w3-agile">
		<p> © 2017 Internship Sign In & Sign Up Form . All rights reserved | Design by <a href="http://www.xmoban.cn/" target="_blank">xmoban.cn</a></p>
	</div>
	<!-- //copyright --> 
	<script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>

</body>
</html>