<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Design by http://www.cssmoban.com
Released for free under a Creative Commons Attribution 3.0 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Template</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<!-- CuFon: Enables smooth pretty custom font rendering. 100% SEO friendly. To disable, remove this section -->
<script type="text/javascript" src="/javascripts/cufon-yui.js"></script>
<script type="text/javascript" src="/javascripts/arial.js"></script>
<script type="text/javascript" src="/javascripts/cuf_run.js"></script>
<!-- CuFon ends -->
</head>
<body>
<div class="main">

  <div class="header">
    <div class="header_resize">
      <div class="logo"><h1><a href="index">Blue ToolKit<br /><small>put your slogan here</small></a></h1></div>
      <div class="menu_nav">
        <ul>
          <li><a href="index"><span><span>首页</span></span></a></li>
          <li class="active"><a href="support"><span><span>文章</span></span></a></li>
          <li><a href="about"><span><span>关于</span></span></a></li>
          <li><a href="blog"><span><span>发布文章</span></span></a></li>
          <li><a href="contact"><span><span>留言</span></span></a></li>
          <li><a href="ht"><span><span>后台管理</span></span></a></li>
        </ul>
      </div>
	  <div class="clr"></div>
      <img src="/images/image.jpg" width="970" height="239" alt="image" />
      <div class="clr"></div>
    </div>
  </div>

  <div class="content">
    <div class="content_resize">
      
        
          <div id="secwrapper">
            <section>
              <article id="featured">
                <a href="#"><img src="images/1.jpg" alt=""/></a>
                <img src="images/featured.png" alt="" id="featuredico"/>
                <h1>Varius Gravida Mi Volutpat</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor, tortor at vulputate blandit, magna risus posuere turpis, nec cursus ipsum arcu nec felis. Mauris sed lectus dui. Suspendisse enim elit, tempor ac ullamcorper et, eleifend quis sem. Sed euismod sagittis ligula, a imperdiet sapien molestie nec. Curabitur ut eros a justo fermentum vulputate ac sit amet metus.</p>
                <a href="#" class="readmore">Read more</a>
              </article>
              <article>
                <a href="#"><img src="images/2.jpg" alt=""/></a>
                <h1>Tortor at Vulputate Blandit</h1>
                <p> Aenean quis dignissim diam. Etiam venenatis congue velit, varius gravida mi volutpat ac. Sed ut pretium dolor. Etiam tempor felis ac eros dictum quis consectetur dolor tristique. Aliquam scelerisque, odio vel luctus commodo, nisl nisl vehicula metus, ut lobortis eros sem blandit est.</p>
                <a href="#" class="readmore">Read more</a>
              </article>
            </section>
         
        </div>
      
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image Gallery</span></h2>
        <a href="#"><img src="/images/pix1.jpg" width="56" height="56" alt="pix" /></a>
        <a href="#"><img src="/images/pix2.jpg" width="56" height="56" alt="pix" /></a>
        <a href="#"><img src="/images/pix3.jpg" width="56" height="56" alt="pix" /></a>
        <a href="#"><img src="/images/pix4.jpg" width="56" height="56" alt="pix" /></a>
        <a href="#"><img src="/images/pix5.jpg" width="56" height="56" alt="pix" /></a>
        <a href="#"><img src="/images/pix6.jpg" width="56" height="56" alt="pix" /></a>
      </div>
      <div class="col c2">
        <h2><span>Lorem Ipsum</span></h2>
        <p>Lorem ipsum dolor<br />Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. <a href="#">Morbi tincidunt, orci ac convallis aliquam</a>, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.</p>
      </div>
      <div class="col c3">
        <h2><span>About</span></h2>
        <img src="/images/white.jpg" width="56" height="56" alt="pix" />
        <p>convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo.  llorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum.</p>
        <p><a href="#" class="lbg">Learn more...</a></p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy; Copyright MyWebSite. Designed from <a href="http://www.cssmoban.com">网站模板</a></p>
      <ul class="fmenu">
        <li><a href="index">首页</a></li>
        <li class="active"><a href="support">文章</a></li>
        <li><a href="blog">发布文章</a></li>
        <li><a href="about">关于</a></li>
        <li><a href="contact">留言</a></li>
      </ul>
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>
